{{!-- pages/index.hbs --}}

{{#> layouts/flavours title="Welcome to Candle Glass Boutique" }}

	{{#*inline "content"}}

		<div class="container">

			<div class="candle">
				<div class="type-leader text-center" style="background-image:url(_images/leader-background.jpg);">
					<img src="_images/leader.png" alt="" style="height:260px;">
				</div>
				<div class="type-body" style="background-image:url(_images/body-background.jpg);">
					<div class="text-box" style="margin-right:30px;float:right;">
						What a delightful
						flavouring, derived
						from orchids of
						the <span style="color:#94b1e3">Vanilla</span>. Candle this
						popular into <span style="color:#94b1e3">fragrance</span>
						the air of touchable
						enjoyment. Happiness
						the result!

					</div>
				</div>
			</div>

		</div>



	{{/inline}}
{{/layouts/flavours}}


