{{!-- pages/index.hbs --}}

{{#> layouts/flavours title="Welcome to Candle Glass Boutique" }}

	{{#*inline "content"}}

		<div class="container">

			<div class="candle">
				<div class="type-leader text-center" style="background-image:url(_images/leader-background.jpg);">
					<img src="_images/leader.png" alt="" style="height:260px;">
				</div>
				<div class="type-body" style="background-image:url(_images/body-background.jpg);">
					<div class="text-box" style="margin-left:30px;">
						What a <span style="color:#57823c">combination</span>
						of health ingredients,
						released into the air
						with enjoyable fragrance.
						Cinnamon in it’s spicy health
						character, combined with the
						encouraging orange, creating
						a feeling of joy, well-being
						and cheerfulness
						smell the health <span style="color:#57823c">fragrance</span>
					</div>
				</div>
			</div>

		</div>



	{{/inline}}
{{/layouts/flavours}}


