{{!-- pages/index.hbs --}}

{{#> layouts/base title="Welcome to Candle Glass Boutique" page="index" }}

{{#*inline "masterhead"}}
{{> includes/masterhead
page="/"
}}
{{/inline}}

{{#*inline "content"}}

<div class="container">
	<h1>Welcome to Candle Glass Boutique</h1>
</div>



<div>woof</div>
{{/inline}}
{{/layouts/base}}

