{{!-- pages/index.hbs --}}

{{#> layouts/base title="Welcome to Candle Glass Boutique" page="index" }}

{{#*inline "masterhead"}}
{{> includes/masterhead
page=""
}}
{{/inline}}

{{#*inline "content"}}

<div class="container" >
	<div >


	<h1 style="">Welcome <small><br><div>to an exiting
		journey with Candle Glass Boutique</div></small></h1>
	<img src="_images/big-candles-lined-up.jpg" alt="" style="width:100%">
</div></div>





{{/inline}}
{{/layouts/base}}

