{{!-- pages/index.hbs --}}

{{#> layouts/base title="Welcome to Candle Glass Boutique" page="index" }}

{{#*inline "masterhead"}}
{{> includes/masterhead
page=""
}}
{{/inline}}

{{#*inline "content"}}

<div class="container" style="background: #c3bca9; ">
	<h1 style="font-size:130px; font-weight:bold; font-weight:bold; text-align:left; line-height:1.3;letter-spacing: -10px;">Hello!</h1>
	<img src="_images/big-candles-lined-up.jpg" alt="" style="width:100%">
</div>





{{/inline}}
{{/layouts/base}}

