{{!-- pages/index.hbs --}}

{{#> layouts/flavours title="Welcome to Candle Glass Boutique" }}

	{{#*inline "content"}}

		<div class="container">

			<div class="candle">
				<div class="type-leader" style="background-image:url(_images/leader-background.jpg);">

					<div class="row">
						<div class="col-sm-6" >
							<div style="margin:5px;  text-align: right;">
								<img src="_images/leader-left.png" alt="" style="height:100%; max-height:260px;">
							</div>


						</div>
						<div class="col-sm-6">
							<div style="margin:20px; height:225px; width:385px;text-align: right; position:relative;">
								<img src="_images/lav2.jpg" alt="" style="height:100%; max-height:265px;">
								<div style="position: absolute; top:10px; left:10px; right:110px;text-align:left; font-size:17px;line-height:1.3;font-weight:bold;text-shadow:0 0 2px #fff;">
									My nooi is in ‘n naartjie,<br>
									my ouma in kaneel,<br>
									daar is iemand... iemand in anys,<br>
									daar is ‘n in elke geur! VROU<br>
									<div class="text-right">
										- D.J. Opperman
									</div>

								</div>
							</div>

						</div>
					</div>
				</div>
				<div class="type-body" style="background-image:url(_images/body-background.jpg);">
<div class="text-box" style="margin-left:30px;">
	<span style="color:#C993D0">Lavendula</span>
	is a genus of
	47 known species of
	flowering plants
	in the mint family.
	It’s fresh,
	sweet, floral, herbaceous
	aroma, is soothing and
	refreshing. The most
	versatile of all essential
	oils. Its’ candle is <span style="color:#9A62B5">fragrance</span>
	great for winding down
	before bedtime.
</div>
				</div>
			</div>

		</div>




	{{/inline}}
{{/layouts/flavours}}


