{{!-- pages/index.hbs --}}

{{#> layouts/flavours title="Welcome to Candle Glass Boutique" }}

	{{#*inline "content"}}

		<div class="container">

			<div class="candle">
				<div class="type-leader" style="background-image:url(_images/leader-background.jpg);">

				</div>
				<div class="type-body" style="background-image:url(_images/body-background.jpg);">

				</div>
			</div>

		</div>




	{{/inline}}
{{/layouts/flavours}}


