<section id="footer">
	<div class="container">
		<div class="text-center">

			<span><a href=""><img src="_images/fb.png" alt="Facebook"></a></span>
			<span><a href=""><img src="_images/yt.png" alt="Youtube"></a></span>
			<span><a href="{{page_folder}}contact.html"><img src="_images/cont.png" alt="Contact"></a></span>


		</div>
	</div>
</section>