<section id="footer">
	<div class="container">



				<iframe width="100%" height="390" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://maps.google.co.za/maps?f=q&source=s_q&hl=en&geocode=&q=28+Reitz+st,Bela-Bela,Limpopo,0480,South+Africa&aq=t&&ie=UTF8&hq=&hnear=28+Reitz+st,Bela-Bela,Limpopo,0480,South+Africa&t=m&z=14&output=embed"></iframe>



		<div id="small-footer-logo">
			<img src="{{page_folder}}_images/logo-gray.png" alt="" style="width:417px; height:60px;">
		</div>

			<div class="text-center" id="address-details">
				<h4>Manda Myburgh</h4>
				<h5>Owner & Manager</h5>
				<hr>
				<div>

					+27 (0)82 563 7262
				</div>
				<div>

					myburghmanda@gmail.com
				</div>
				<hr>
				<div>
					Ritzstraat 28,<br>
					Bela-Bela,<br>
					Limpopo<br>
					0480
				</div>


				<div class="">
					<span><a href="https://www.facebook.com/candlesgb/" target="_blank"><img src="_images/fb.png" alt="Facebook"></a></span>
					<span><a href=""><img src="_images/yt.png" alt="Youtube"></a></span>
				</div>

			</div>


	</div>
</section>