{{!-- pages/index.hbs --}}

{{#> layouts/flavours title="Welcome to Candle Glass Boutique" }}

	{{#*inline "content"}}

		<div class="container">

			<div class="candle">
				<div class="type-leader" style="background-image:url(_images/leader-background.jpg);">
					<div class="row">
						<div class="col-sm-6" >
							<div style="margin:15px 0;  text-align: right;">
								<img src="_images/leader-left.jpg" alt="" style="height:235px; margin-top:0px;">
							</div>


						</div>
						<div class="col-sm-6">
							<div style="margin:5px 0; height:255px; text-align: left; ">
								<img src="_images/leader-right.png" alt="" style="height:100%; max-height:265px;">

							</div>

						</div>
					</div>
				</div>
				<div class="type-body" style="background-image:url(_images/body-background.jpg);">
					<div class="text-box" style="margin-right:30px;float:right;">
						The health benefits of figs
						include it’s use as a treatment
						for sexual dysfunction.
						Combine this with the
						flowering plant of ginger
						and it’s spicy folk medicine,
						you might find yourself
						bathing in the candle <span style="color:#df0916">fragrance</span>
						of intimate relaxation.
					</div>
				</div>
			</div>

		</div>


	{{/inline}}
{{/layouts/flavours}}


