#footer {
  background: #d0d3d9;
  font-size: 15px;

  position:relative;
  img {
	height: 85px;
	margin: 20px;
	transition: all 1s ease;
  }
  &:hover {
	a {
	  img {
		opacity:0.3;
		filter: gray; /* IE6-9 */
		-webkit-filter: grayscale(1); /* Google Chrome, Safari 6+ & Opera 15+ */
		filter: grayscale(1); /* Microsoft Edge and Firefox 35+ */
	  }
	}
  }
  a:hover {
	img {
	  opacity:1;
	  -webkit-filter: grayscale(0);
	  filter: none;
	}
  }
  iframe {
	margin-left:-15px;
	margin-right:-15px;
  }
  #address-details {
	background:rgba(250,250,250,0.7);
	position:absolute;
	top:0;
	right:0;
	bottom:0;
	padding-top:20px;
  }
  #small-footer-logo {
	position:absolute;

	left:100px;
	bottom:0;
  }
}