body {
  color:#444;
}
@import "bootstrap";
@import "masterhead";
@import "footer";
@import "candles";

#candles-page {
  .candle-pack {
	background-color: #c7bdab;
	border-radius:20px;
	padding:15px;
	margin-bottom:30px;
	position:relative;
	height:220px;
	img {
	  max-height:200px;
	  object-fit: contain;
	}
	.pack-label {
	  border:1px solid #fff;
	  color:#fff;
	  border-radius:50px;
	  text-align:center;
	  padding:5px 20px;
	  position:absolute;
	  top:10px;
	  background: rgba(199, 189, 171, 0.8);
	}
  }

}
h1 {
   margin-top:30px;
   margin-bottom:20px;
  font-size:90px;
  font-weight:bold;
  text-align:left;
  line-height:1;
  letter-spacing: -5px;
  padding:20px;
  padding-bottom:40px;
  small {
	font-size:40px;
	letter-spacing:-1px;
	div {
	  text-align:center;
	  font-style: italic;
	}
  }

  background: #fff; /* For browsers that do not support gradients */
  background: -webkit-linear-gradient(#fff, #c3bca9); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(#fff, #c3bca9); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(#fff, #c3bca9); /* For Firefox 3.6 to 15 */
  background: linear-gradient(#fff, #c3bca9); /* Standard syntax */
  margin-bottom:-0px;
 }