{{!-- pages/index.hbs --}}
{{#> layouts/flavours title="Welcome to Candle Glass Boutique" }}

	{{#*inline "content"}}

		<div class="container">
			<div class="candle">
				<div class="type-leader text-center" style="background-image:url(_images/leader-background.jpg);">
					<img src="_images/leader.png" alt="" style="height:260px;">
				</div>
				<div class="type-body" style="background-image:url(_images/body-background.jpg);">
					<div class="text-box" style="margin-left:30px;">
						<span style="color:#e4b205">Citronelle oil</span> is one of the essential oils obtained from the leaves and stems of lemon grass.
						a wide variety of applications, ranging from perfumery to insect repellent.
						The united States environmental Protection Agency considers oil of <span style="color:#e4b205">citronella</span>
						as a bio pesticide with a Non-toxic mode of action.
					</div>
				</div>
			</div>

		</div>


	{{/inline}}
{{/layouts/flavours}}


