{{!-- pages/index.hbs --}}

{{#> layouts/flavours title="Welcome to Candle Glass Boutique" }}

	{{#*inline "content"}}

		<div class="container" id="candles-page">

			<div class="candle">
				<div class="row">
					<h1>Special occasion packs available </h1>
				</div>

				<div class="row" style="margin-top:10px;">
					<div class="col-sm-6">
						<div class="candle-pack" >
							<span class="pack-label">a</span>
							<img src="_images/van%20candle%20a.png" style="width:100%; " alt="">
						</div>
					</div>
					<div class="col-sm-6">
						<div class="candle-pack">
							<span class="pack-label" style="right:10px;">b</span>
							<img src="_images/van%20candle%20b.png" style="width:100%;" alt="">
						</div>
					</div>
					<div class="col-sm-3">
						<div class="candle-pack">
							<span class="pack-label" style="right:10px;">c</span>
							<img src="_images/van%20candle%20c.png" style="width:100%;" alt="">
						</div>
					</div>
					<div class="col-sm-3">
						<div class="candle-pack">
							<span class="pack-label" style="right:10px;">d</span>
							<img src="_images/van%20candle%20d.png" style="width:100%;" alt="">
						</div>
					</div>

					<div class="col-sm-3">
						<div class="candle-pack">
							<span class="pack-label" style="right:10px;">e</span>
							<img src="_images/van%20candle%20e.png" style="width:100%;" alt="">
						</div>
					</div>

					<div class="col-sm-3">
						<div class="candle-pack">
							<span class="pack-label" style="right:10px;">f</span>
							<img src="_images/van%20candle%20f.png" style="width:100%;" alt="">
						</div>
					</div>
					<div class="col-sm-3">
						<div class="candle-pack">
							<span class="pack-label" style="right:10px;">g</span>
							<img src="_images/van%20candle%20g.png" style="width:100%;" alt="">
						</div>
					</div>

					<div class="col-sm-3">
						<div class="candle-pack">
							<span class="pack-label" style="right:10px;">h</span>
							<img src="_images/van%20candle%20h.png" style="width:100%;" alt="">
						</div>
					</div>

					<div class="col-sm-3">
						<div class="candle-pack">
							<span class="pack-label" style="right:10px;">i</span>
							<img src="_images/van%20candle%20i.png" style="width:100%;" alt="">
						</div>
					</div>
					<div class="col-sm-3">
						<div class="candle-pack">
							<span class="pack-label" style="right:10px;">j</span>
							<img src="_images/van%20candle%20j.png" style="width:100%;" alt="">
						</div>
					</div>
					<div class="col-sm-3">
						<div class="candle-pack">
							<span class="pack-label" style="right:10px;">k</span>
							<img src="_images/van%20candle%20k.png" style="width:100%;" alt="">
						</div>
					</div>

					<div class="col-sm-3">
						<div class="candle-pack">
							<span class="pack-label" style="right:10px;">l</span>
							<img src="_images/van%20candle%20l.png" style="width:100%;" alt="">
						</div>
					</div>

					<div class="col-sm-3">
						<div class="candle-pack">
							<span class="pack-label" style="right:10px;">m</span>
							<img src="_images/van%20candle%20m.png" style="width:100%;" alt="">
						</div>
					</div>

					<div class="col-sm-3">
						<div class="candle-pack">
							<span class="pack-label" style="right:10px;">n</span>
							<img src="_images/van%20candle%20n.png" style="width:100%;" alt="">
						</div>
					</div>

					<div class="col-sm-3">
						<div class="candle-pack">
							<span class="pack-label" style="right:10px;">o</span>
							<img src="_images/van%20candle%20o.png" style="width:100%;" alt="">
						</div>
					</div>
					<div class="col-sm-3">
						<div class="candle-pack">
							<span class="pack-label" style="right:10px;">p</span>
							<img src="_images/van%20candle%20p.png" style="width:100%;" alt="">
						</div>
					</div>
					<div class="col-sm-3">
						<div class="candle-pack">
							<span class="pack-label" style="right:10px;">q</span>
							<img src="_images/van%20candle%20q.png" style="width:100%;" alt="">
						</div>
					</div>

					<div class="col-sm-3">
						<div class="candle-pack">
							<span class="pack-label" style="right:10px;">r</span>
							<img src="_images/van%20candle%20r.png" style="width:100%;" alt="">
						</div>
					</div>
				</div>

			</div>

		</div>



	{{/inline}}
{{/layouts/flavours}}


